<div class="header-container">
    <div class="header authorable-reference parbase">

        <div style="display:inline;" class=" cq-dd-paragraph non-authorable">
            <div class="header-ref-content">
                <div class="header-ref-content parsys">
                    <div class="atvi-component atvi-content-tile ignore-id template">
                        <header class="crash-header">
                            <div class="crash-logo">Crash Bandicoot</div>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>